/* Created by: Ekaterina
 * Created on: Sep 2022
 * This CSS file defines the style for index2.html ICS2O-Unit1-04-HTML-CSS
*/

/* Created by: Mr. Coxall
 * Created on: Sep 2020
 * This CSS file defines the style for index2.html ICS2O-Unit1-04-HTML-CSS
*/

body {
  background-color: #db2ce8;
}

h1 {
  background-color: rgb(219, 61, 101);
  color: black;
  padding: 40px;
  text-align: center;
}

p {
  background-color: rgb(219, 61, 101);
}

ul {
  color: beige;
}

ul li::before {
  content: "✅";
}

table {
  border: solid thin;
}

th {
  height: 2rem;
  background: #dd4077;
  border: 1px solid white;
  text-align: left;
}

td {
  height: 2rem;
  background: #f0c3f3;
  border: 1px solid black;
  text-align: center;
}
